@import "./normalize";
@import "../fonts/ubuntu.font.scss";
@import "./variables";
@import "./main-container";
@import "./footer-container";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font;
}

body {
  height: 100vh;
  width: 100vw;
}
